@import "../../../scss/variables";

.navbar-brand {
  div {
    display: flex;
    justify-content: center;
  }
}

.navbar-nav a {
  padding: 0.5rem 1rem;
  color: white !important;
  cursor: pointer;
  transition: ease-in-out, 0.3s;
}

.navbar-nav a:hover {
  text-decoration: none;
  color: $secondary-color !important;
}

@media (max-width: 768px) {
  .navbar-nav a {
    color: white !important;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    border: 1px solid $secondary-color;
  }
  .navbar-nav a:hover {
    color: $secondary-color !important;
  }
}
